@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //Can use C# between these brackets, and in the code below using @
    ViewBag.Title = "Assignment 2";
    ViewBag.Head = "Home Page View";
}

<body>

    <h3>Shannon Murray - IS 413</h3>
    <img src="~/img/BYUGame1.jpg" />

    <p>
        I am so excited to be taking the IS 413 class this semester! I am looking forward to learning how to make web
        applications and am excited to see all the possibilities and opportunities these skills afford! I hope to become
        a better problem solver and to help my team to the best of my ability, and to continue developing marketable skills
        that will help me succeed in the industry.
    </p>

    <p>Top 3 Job Areas</p>
    <ul class="calc">
        <li>1. Software Development</li>
        <li>2. Database Administration</li>
        <li>3. Project Management</li>
    </ul>
    <br />

</body>
